<tei2html.config>
    <dittoMark>»</dittoMark>
    <text.abbr>d.w.z.; Z.K.H.; Z.Ed.; Z.-W.; b.v.; d.i.; i.d.; n.l.; c.M.; z.g.; m.m.; m.M.; N.B.; Z.g.; N.O.; N.W.; Z.W.; o.i.; o.a.; i.e.; a.w.; St.</text.abbr>
	<text.quotes>»”„”</text.quotes> <!-- Pairs of quotation marks, first opening, then closing -->

</tei2html.config>